<!DOCTYPE HTML>
<HEAD>
    <meta http-equiv="Content-Language" content="ko">
    <meta http-equiv="Content-Type" content="text/html; charset=ks_c_5601-1987">
    <meta name="viewport" content="width=device-width, initial-scale=0.5, maximum-scale=5.0, minimum-scale=0.5, user-scalable=yes">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>

    <link href="font.css" rel="stylesheet" type="text/css">
    <link id="mycss01" href="style3.css" rel="stylesheet" type="text/css" >
    <script language="javascript" src="./common.js"></script>

    <script id="nopspro" type="text/xmldata">
  <rootnode>
    <setvalue>
	  <사원명_직위>user1</사원명_직위>
	  <부서명>busu1</부서명>
	  <문서제목>is1;</문서제목>
	  <사용자정의_footer>footer</사용자정의_footer>
    </setvalue>
	<command>
     <display_on_edit>stylechange</display_on_edit>
     <hide_on_print>stylechange</hide_on_print>
     <save_source>Y</save_source>
   </command>
  </rootnode>
</script>

</HEAD>

<BODY >


<!--상단-->
<table width="640">
    <tr>
        <td id="tms_auto_sign2" style="width: 1%; white-space: nowrap;"></td>
        <td height="93" class="form16b1">교육보고서</td>
        <td id="tms_auto_sign" style="width: 1%; white-space: nowrap;"></td>
    </tr>
</table>


<!--여백-->
<div class="blank01"></div>


<!-- 문서정보 -->
<table width="640" class="form9 bordertop2">
    <colgroup>
        <col width="100">
        <col width="190">
        <col width="100">
        <col width="180">
        <col width="70">
    </colgroup>
    <tr>
        <td class="bold stitle">작성자명</td>
        <td class="border-right_dotted"><div id="user1"></div></td>
        <td class="bold stitle">작성일자</td>
        <td class="border-right_dotted"><div class="tmsselect" id="ymd3" onClick="javascript:fun('calender',this.id,'YYYY.MM.DD.');"></div></td>
        <td rowspan="2"><img width="58px" height="58px" align="middle" id="qrcode" ></td>
    </tr>
    <tr>
        <td class="bold stitle">부 서 명</td>
        <td class="border-right_dotted"><div id="busu1"></div></td>
    </tr>
</table>

<!--여백-->
<div class="blank01"></div>

<!--내용-->
<table width="640" class="form9_contents bordertop2">
    <colgroup>
        <col width="100">
        <col width="540">
    </colgroup>

    <tr>
        <td class="bold stitle">교육주제</td>
        <td ><div tms_edit id="is1" class="tmsedit"></div></td>
    </tr>
    <tr>
        <td class="bold stitle">교육일시</td>
        <td><div tms_edit id="is2" class="tmsedit"></div></td>
    </tr>
    <tr>
        <td class="bold stitle">교육경비</td>
        <td><div tms_edit id="is3" class="tmsedit"></div></td>
    </tr>
    <tr>
        <td class="bold stitle">교육장소</td>
        <td><div tms_edit id="is4" class="tmsedit"></div></td>
    </tr>
    <tr>
        <td class="bold stitle">교육기관</td>
        <td><div tms_edit id="is5" class="tmsedit"></div></td>
    </tr>
    <tr>
        <td class="bold stitle">교육내용</td>
        <td><DIV  tms_edit id="as2" class="tmsedit minheight300"></DIV></td>
    </tr>
    <tr>
        <td class="bold stitle">기&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;타</td>
        <td><DIV  tms_edit id="as3" class="tmsedit minheight100"></DIV></td>
    </tr>

    <tr>
        <td height="40" colspan="2" class="textcenter" >* 교육 수료증 또는 합격증이 있는 경우 사본을 첨부할 것</td>
    </tr>
</table>

<div id="footer-wrapper" style="position:relative; width:640px; margin:0 auto;">

    <!--하단-->
    <div id="footer" class="footer"></div>

</div>


<!--여백-->
<div class="blank01"></div>


</BODY>
</HTML>
