<!DOCTYPE HTML>
<HEAD>
  <meta http-equiv="Content-Language" content="ko">
  <meta http-equiv="Content-Type" content="text/html; charset=ks_c_5601-1987">
  <meta name="viewport" content="width=device-width, initial-scale=0.5, maximum-scale=5.0, minimum-scale=0.5, user-scalable=yes">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
  <link href="font.css" rel="stylesheet" type="text/css">
  <link id="mycss01" href="style3.css" rel="stylesheet" type="text/css" >
  <script language="javascript" src="./common.js"></script>

  <script language=JavaScript>
    function del_focus(obj)
    {

      var range = document.body.createTextRange();

      obj.innerText = deComma(obj.innerText);


      range.moveToElementText(obj);
      range.select();
    }

    function common_calc_plus(paramValue1, paramValue2)
    {
      return Number(paramValue1) + Number(paramValue2);
    }

    function common_comma(paramObj)
    {

      paramObj.innerText = vComma(paramObj.innerText);
    }

    function common_value(paramPrefix, paramIndex, paramValue)
    {


      eval(paramPrefix+paramIndex).innerText = vComma(String(paramValue));
      if(paramValue == '0') eval(paramPrefix+paramIndex).innerText = "";
    }
    function common_calc_mult(paramValue1, paramValue2)
    {
      return paramValue1 * paramValue2;
    }
    function common_number(paramPrefix, paramIndex)
    {
      return Number(deComma(document.getElementById(paramPrefix+paramIndex).innerText));
    }

    function vComma(obj) {
      var str = "" + obj.replace(/,/gi,''); // 콤마 제거
      var regx = new RegExp(/(-?\d+)(\d{3})/);
      var bExists = str.indexOf(".",0);
      var strArr = str.split('.');
      while(regx.test(strArr[0])){
        strArr[0] = strArr[0].replace(regx,"$1,$2");
      }
      if (bExists > -1)
        obj = strArr[0] + "." + strArr[1];
      else
        obj = strArr[0];

      return obj;
    }


    function calc_all_sum(paramPrefix)
    {
      var result = 0;
      var elements = document.getElementsByTagName('*'); //엘리먼트 전체

      for(var i=0; i<elements.length; i++)
      {
        if (elements[i].id.substring(0, 2) == paramPrefix )
        {
          result += Number(deComma(elements[i].innerText));
        }
      }

      //result = result.toFixed(2);
      return result;
    }


    function calc_value1(obj)
    {
      var tms1 = aa1.contentEditable;

      if(tms1 == 'true'){
        var id_p = (obj.id).substring(0, 2);//앞자리 2자리
        var id_e = (obj.id).substring(2, 4);//뒷자리 1자리
        var aa = common_number("aa", id_e);
        var bb = common_number("bb", id_e);
        var cc = common_calc_mult(aa, bb);

        common_value("cc"+id_e, "", cc);

        common_comma(obj);

        common_value("sum_cc", "", calc_all_sum("cc"));
      }


    }




  </script>


  <script id="nopspro" type="text/xmldata">
  <rootnode>
    <setvalue>
	  <사원명_직위>user1</사원명_직위>
	  <부서명>busu1</부서명>
	  <사용자정의_footer>footer</사용자정의_footer>
	  <qrcode>open_doc;qrcode;</qrcode>
    </setvalue>
	<command>
     <display_on_edit>stylechange</display_on_edit>
     <hide_on_print>stylechange</hide_on_print>
     <save_source>Y</save_source>
   </command>
  </rootnode>
</script>


</HEAD>

<BODY >
<!--상단-->
<table width="640">
  <tr>
    <td id="tms_auto_sign2" style="width: 1%; white-space: nowrap;"></td>
    <td height="93" class="form16b1">구매요청서</td>
    <td id="tms_auto_sign" style="width: 1%; white-space: nowrap;">	</td>
  </tr>
</table>


<!--여백-->
<div class="blank01"></div>


<!-- 문서정보 -->
<table width="640" class="form9 bordertop2">
  <colgroup>
    <col width="100">
    <col width="190">
    <col width="100">
    <col width="180">
    <col width="70">
  </colgroup>

  <tr>
    <td class="bold stitle">작성자명</td>
    <td class="border-right_dotted"><div id="user1"></div></td>
    <td class="bold stitle">작성일자</td>
    <td class="border-right_dotted"><div class="tmsselect" id="ymd3" onClick="javascript:fun('calender',this.id,'YYYY.MM.DD.');"></div></td>
    <td rowspan="2"><img width="58px" height="58px" align="middle" id="qrcode" ></td>
  </tr>
  <tr>
    <td class="bold stitle">부 서 명</td>
    <td class="border-right_dotted"><div id="busu1"></div></td>
  </tr>
  <tr>
    <td class="bold stitle">청구일자</td>
    <td class="border-right_dotted"><div class="tmsselect" id="ymd1" onClick="javascript:fun('calender',this.id,'YYYY.MM.DD.');"></div></td>
    <td class="bold stitle">용&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;도</td>
    <td colspan="2"><DIV  tms_edit id="title1" > </DIV></td>
  </tr>
</table>

<!--여백-->
<div class="blank01"></div>


<table width="640" class="form9_contents bordertop2">
  <colgroup>
    <col width="100">
    <col width="280">
    <col width="70">
    <col width="80">
    <col width="110">
  </colgroup>

  <tr>
    <td  class="bold stitle">품 번</td>
    <td  class="bold stitle">품 명</td>
    <td  class="bold stitle">수 량</td>
    <td  class="bold stitle">단 가</td>
    <td  class="bold stitle" style="border-right:0;">금 액</td>
  </tr>
  <tr>
    <td class="border-right_dotted" height="30px"><div tms_edit class="tmsedit textcenter"></div></td>
    <td class="border-right_dotted"><div tms_edit class="tmsedit"></div></td>
    <td class="border-right_dotted"><div class="inputBox tmsedit textright" id="aa1" onBlur="calc_value1(this);" tms_edit  onFocus="del_focus(this)"></div></td>
    <td class="border-right_dotted"><div class="inputBox tmsedit textright" id="bb1" onBlur="calc_value1(this);" tms_edit  onFocus="del_focus(this)"></div></td>
    <td ><div class="inputBox textright" id="cc1"></div></td>
  </tr>
  <tr>
    <td class="border-right_dotted" height="30px"><div tms_edit class="tmsedit textcenter"></div></td>
    <td class="border-right_dotted"><div tms_edit class="tmsedit"></div></td>
    <td class="border-right_dotted"><div class="inputBox tmsedit textright" id="aa2" onBlur="calc_value1(this);" tms_edit    onFocus="del_focus(this)"></div></td>
    <td class="border-right_dotted"><div class="inputBox tmsedit textright" id="bb2" onBlur="calc_value1(this);" tms_edit    onFocus="del_focus(this)"></div></td>
    <td><div class="inputBox textright" id="cc2" ></div></td>
  </tr>
  <tr>
    <td class="border-right_dotted" height="30px"><div tms_edit class="tmsedit textcenter"></div></td>
    <td class="border-right_dotted"><div tms_edit class="tmsedit"></div></td>
    <td class="border-right_dotted"><div class="inputBox tmsedit textright" id="aa3" onBlur="calc_value1(this);" tms_edit    onFocus="del_focus(this)"></div></td>
    <td class="border-right_dotted"><div class="inputBox tmsedit textright" id="bb3" onBlur="calc_value1(this);" tms_edit    onFocus="del_focus(this)"></div></td>
    <td><div class="inputBox textright" id="cc3" ></div></td>
  </tr>
  <tr>
    <td class="border-right_dotted" height="30px"><div tms_edit class="tmsedit textcenter"></div></td>
    <td class="border-right_dotted"><div tms_edit class="tmsedit"></div></td>
    <td class="border-right_dotted"><div class="inputBox tmsedit textright" id="aa4" onBlur="calc_value1(this);" tms_edit    onFocus="del_focus(this)"></div></td>
    <td class="border-right_dotted"><div class="inputBox tmsedit textright" id="bb4" onBlur="calc_value1(this);" tms_edit    onFocus="del_focus(this)"></div></td>
    <td><div class="inputBox textright" id="cc4" ></div></td>
  </tr>
  <tr>
    <td class="border-right_dotted" height="30px"><div tms_edit class="tmsedit textcenter"></div></td>
    <td class="border-right_dotted"><div tms_edit class="tmsedit"></div></td>
    <td class="border-right_dotted"><div class="inputBox tmsedit textright" id="aa5" onBlur="calc_value1(this);" tms_edit    onFocus="del_focus(this)"></div></td>
    <td class="border-right_dotted"><div class="inputBox tmsedit textright" id="bb5" onBlur="calc_value1(this);" tms_edit    onFocus="del_focus(this)"></div></td>
    <td><div class="inputBox textright" id="cc5" ></div></td>
  </tr>
  <tr>
    <td class="border-right_dotted" height="30px"><div tms_edit class="tmsedit" style="text-align:center;"></div></td>
    <td class="border-right_dotted"><div tms_edit class="tmsedit"></div></td>
    <td class="border-right_dotted"><div class="inputBox tmsedit textright" id="aa6" onBlur="calc_value1(this);" tms_edit    onFocus="del_focus(this)"></div></td>
    <td class="border-right_dotted"><div class="inputBox tmsedit textright" id="bb6" onBlur="calc_value1(this);" tms_edit    onFocus="del_focus(this)"></div></td>
    <td><div class="inputBox textright" id="cc6" ></div></td>
  </tr>
  <tr>
    <td class="border-right_dotted" height="30px"><div tms_edit class="tmsedit textcenter"></div></td>
    <td class="border-right_dotted"><div tms_edit class="tmsedit"></div></td>
    <td class="border-right_dotted"><div class="inputBox tmsedit textright" id="aa7" onBlur="calc_value1(this);" tms_edit    onFocus="del_focus(this)"></div></td>
    <td class="border-right_dotted"><div class="inputBox tmsedit textright" id="bb7" onBlur="calc_value1(this);" tms_edit    onFocus="del_focus(this)"></div></td>
    <td><div class="inputBox textright" id="cc7" ></div></td>
  </tr>
  <tr>
    <td class="border-right_dotted" height="30px"><div tms_edit class="tmsedit textcenter"></div></td>
    <td class="border-right_dotted"><div tms_edit class="tmsedit"></div></td>
    <td class="border-right_dotted"><div class="inputBox tmsedit textright" id="aa8" onBlur="calc_value1(this);" tms_edit    onFocus="del_focus(this)"></div></td>
    <td class="border-right_dotted"><div class="inputBox tmsedit textright" id="bb8" onBlur="calc_value1(this);" tms_edit    onFocus="del_focus(this)"></div></td>
    <td><div class="inputBox textright" id="cc8" ></div></td>
  </tr>
  <tr>
    <td class="border-right_dotted" height="30px"><div tms_edit class="tmsedit textcenter"></div></td>
    <td class="border-right_dotted"><div tms_edit class="tmsedit"></div></td>
    <td class="border-right_dotted"><div class="inputBox tmsedit textright" id="aa9" onBlur="calc_value1(this);" tms_edit    onFocus="del_focus(this)"></div></td>
    <td class="border-right_dotted"><div class="inputBox tmsedit textright" id="bb9" onBlur="calc_value1(this);" tms_edit    onFocus="del_focus(this)"></div></td>
    <td><div class="inputBox textright" id="cc9" ></div></td>
  </tr>
  <tr>
    <td class="border-right_dotted" height="30px"><div tms_edit class="tmsedit textcenter"></div></td>
    <td class="border-right_dotted"><div tms_edit class="tmsedit"></div></td>
    <td class="border-right_dotted"><div class="inputBox tmsedit textright" id="aa10" onBlur="calc_value1(this);" tms_edit   onFocus="del_focus(this)"></div></td>
    <td class="border-right_dotted"><div class="inputBox tmsedit textright" id="bb10" onBlur="calc_value1(this);" tms_edit   onFocus="del_focus(this)"></div></td>
    <td><div class="inputBox textright" id="cc10" ></div></td>
  </tr>
  <tr>
    <td class="border-right_dotted" height="30px"><div tms_edit class="tmsedit textcenter"></div></td>
    <td class="border-right_dotted"><div tms_edit class="tmsedit"></div></td>
    <td class="border-right_dotted"><div class="inputBox tmsedit textright" id="aa11" onBlur="calc_value1(this);" tms_edit   onFocus="del_focus(this)"></div></td>
    <td class="border-right_dotted"><div class="inputBox tmsedit textright" id="bb11" onBlur="calc_value1(this);" tms_edit   onFocus="del_focus(this)"></div></td>
    <td><div class="inputBox textright" id="cc11" ></div></td>
  </tr>
  <tr>
    <td class="border-right_dotted" height="30px"><div tms_edit class="tmsedit textcenter"></div></td>
    <td class="border-right_dotted"><div tms_edit class="tmsedit"></div></td>
    <td class="border-right_dotted"><div class="inputBox tmsedit textright" id="aa12" onBlur="calc_value1(this);" tms_edit   onFocus="del_focus(this)"></div></td>
    <td class="border-right_dotted"><div class="inputBox tmsedit textright" id="bb12" onBlur="calc_value1(this);" tms_edit   onFocus="del_focus(this)"></div></td>
    <td><div class="inputBox textright" id="cc12" ></div></td>
  </tr>
  <tr>
    <td class="border-right_dotted" height="30px"><div tms_edit class="tmsedit textcenter"></div></td>
    <td class="border-right_dotted"><div tms_edit class="tmsedit"></div></td>
    <td class="border-right_dotted"><div class="inputBox tmsedit textright" id="aa13" onBlur="calc_value1(this);" tms_edit   onFocus="del_focus(this)"></div></td>
    <td class="border-right_dotted"><div class="inputBox tmsedit textright" id="bb13" onBlur="calc_value1(this);" tms_edit   onFocus="del_focus(this)"></div></td>
    <td><div class="inputBox  textright" id="cc13" ></div></td>
  </tr>
  <tr>
    <td class="border-right_dotted" height="30px"><div tms_edit class="tmsedit textcenter"></div></td>
    <td class="border-right_dotted"><div tms_edit class="tmsedit"></div></td>
    <td class="border-right_dotted"><div class="inputBox tmsedit textright" id="aa14" onBlur="calc_value1(this);" tms_edit   onFocus="del_focus(this)"></div></td>
    <td class="border-right_dotted"><div class="inputBox tmsedit textright" id="bb14" onBlur="calc_value1(this);" tms_edit   onFocus="del_focus(this)"></div></td>
    <td><div class="inputBox  textright" id="cc14" ></div></td>
  </tr>
  <tr>
    <td class="border-right_dotted" height="30px"><div tms_edit class="tmsedit textcenter"></div></td>
    <td class="border-right_dotted"><div tms_edit class="tmsedit"></div></td>
    <td class="border-right_dotted"><div class="inputBox tmsedit textright" id="aa15" onBlur="calc_value1(this);" tms_edit   onFocus="del_focus(this)"></div></td>
    <td class="border-right_dotted"><div class="inputBox tmsedit textright" id="bb15" onBlur="calc_value1(this);" tms_edit   onFocus="del_focus(this)"></div></td>
    <td><div class="inputBox  textright" id="cc15" ></div></td>
  </tr>
  <tr>
    <td colspan="4" class="border-right_dotted textcenter" height="30px">합 계</td>
    <td><b><div class="inputBox textright" id="sum_cc"  ></div></b></td>
  </tr>
  <tr>
    <td class="bold stitle">특기사항</td>
    <td colspan="4" ><div tms_edit id="bigo" class="inputBox tmsedit minheight50"></div></td>
  </tr>

</table>


<div id="footer-wrapper" style="position:relative; width:640px; margin:0 auto;">
  <!--하단-->
  <div id="footer" class="footer"></div>

</div>


<!--여백-->
<div class="blank01"></div>
</BODY>
</HTML>
