<!DOCTYPE HTML>
<HEAD>
  <meta http-equiv="Content-Language" content="ko">
  <meta http-equiv="Content-Type" content="text/html; charset=euc-kr">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, minimum-scale=0.5, user-scalable=yes">
  <TITLE>휴가 신청서</TITLE>
  <link href="./common.css" rel="stylesheet" type="text/css">
  <script language="javascript" src="./common.js"></script>
  <style type="text/css">

    .form10b {
      font-family: "맑은 고딕";
      font-size: 10pt;
      color: #000000;
      text-decoration: none;
      letter-spacing:0px;
      font-weight:bold;
    }
    .form10 {
      font-family: "맑은 고딕";
      font-size: 10pt;
      color: #000000;
      text-decoration: none;
      letter-spacing:0px;
    }
    .form16b {
      font-family: "맑은 고딕";
      font-size: 16pt;
      color: #000000;
      text-decoration: none;
      letter-spacing:0px;
      font-weight:bold;
    }
    .form2 {	font-family: "맑은 고딕";
      font-size: 12px;
      color: #000000;
      text-decoration: none;
      letter-spacing:0px;
    }

    A:link {font-family: "맑은 고딕";font-size: 10pt;  text-decoration:none; color: black;}
    A:visited {font-family: "맑은 고딕";font-size: 10pt; text-decoration:none; color: black;}
    A:active {font-family: "맑은 고딕";font-size: 10pt; text-decoration:underline; color: black;}
    A:hover {font-family: "맑은 고딕";font-size: 10pt;color: black; text-decoration:underline;}

  </style>

  <script language=JavaScript>
    function gb(obj) {
      var tms1 = as2.contentEditable;

      if(tms1 == 'true'){

        var obj1 = (obj.id).substring(0,2);
        var obj2 = (obj.id).substring(2,4);

        if(obj2 == "1"){
          eval("aa1").innerText =  "연차( V )";
          eval("aa2").innerText =  "월차(   )";
          eval("aa3").innerText =  "반차(   )";
          eval("aa4").innerText =  "특별휴가(   )";
          eval("gb1").innerText =  "1";
        }
        if(obj2 == "2"){
          eval("aa1").innerText =  "연차( V )";
          eval("aa2").innerText =  "월차(   )";
          eval("aa3").innerText =  "반차(   )";
          eval("aa4").innerText =  "특별휴가(   )";
          eval("gb1").innerText =  "2";
        }
        if(obj2 == "3"){
          eval("aa1").innerText =  "연차( V )";
          eval("aa2").innerText =  "월차(   )";
          eval("aa3").innerText =  "반차(   )";
          eval("aa4").innerText =  "특별휴가(   )";
          eval("gb1").innerText =  "3";
        }
        if(obj2 == "4"){
          eval("aa1").innerText =  "연차( V )";
          eval("aa2").innerText =  "월차(   )";
          eval("aa3").innerText =  "반차(   )";
          eval("aa4").innerText =  "특별휴가(   )";
          eval("gb1").innerText =  "4";
        }
        if(obj2 == "5"){
          eval("aa1").innerText =  "연차( V )";
          eval("aa2").innerText =  "월차(   )";
          eval("aa3").innerText =  "반차(   )";
          eval("aa4").innerText =  "특별휴가(   )";
          eval("gb1").innerText =  "5";
        }
        if(obj2 == "6"){
          eval("aa1").innerText =  "연차( V )";
          eval("aa2").innerText =  "월차(   )";
          eval("aa3").innerText =  "반차(   )";
          eval("aa4").innerText =  "특별휴가(   )";
          eval("gb1").innerText =  "6";
        }
        if(obj2 == "7"){
          eval("aa1").innerText =  "연차( V )";
          eval("aa2").innerText =  "월차(   )";
          eval("aa3").innerText =  "반차(   )";
          eval("aa4").innerText =  "특별휴가(   )";
          eval("gb1").innerText =  "7";
        }
        calendar2();
        title_make();
      }
    }

    function calendar(obj, todate_id) {
      var tms1 = as2.contentEditable;

      if(tms1 == 'true'){

        fun('calender',obj.id,'YYYY년 MM월 DD일 DDD요일');

        //시작날짜
        var sdate_str = document.getElementById("h_sdate").innerText;
        sdate_str = sdate_str.replace("년","");
        sdate_str = sdate_str.replace("월","");
        sdate_str = sdate_str.replace("일","");

        var sdateArray = sdate_str.split(" ");
        var sdateObj = new Date(sdateArray[0], Number(sdateArray[1])-1, sdateArray[2]);

        //끝 날짜
        var edate_str = document.getElementById("h_edate").innerText;
        edate_str = edate_str.replace("년","");
        edate_str = edate_str.replace("월","");
        edate_str = edate_str.replace("일","");

        var edateArray = edate_str.split(" ");
        var edateObj = new Date(edateArray[0], Number(edateArray[1])-1, edateArray[2]);

        //시작 끝 날짜 계산
        var betweenDay = (edateObj.getTime() - sdateObj.getTime()) / 1000 / 60 / 60 / 24;

        //박 수 일 수를 히든으로
        document.getElementById("baksu").innerText = betweenDay ;
        document.getElementById("ilsu").innerText = betweenDay + 1;

        // 양식에 표시
        // h_caldate.innerText = "( "+ (betweenDay)+" 박 "+ (betweenDay + 1) + " 일 )";
        var gb_check = document.getElementById("gb1").innerText;

        if(gb_check == "2" || gb_check == "7"){
          h_caldate.innerText = "( "+ ((betweenDay + 1)/2) + " 일 )";
        }else{

          h_caldate.innerText = "( "+ (betweenDay + 1) + " 일 )";
        }
        //일자 기준 소계 계산
        title_make();
      }
    }

    function calendar2() {

      //시작날짜
      var sdate_str = document.getElementById("h_sdate").innerText;
      sdate_str = sdate_str.replace("년","");
      sdate_str = sdate_str.replace("월","");
      sdate_str = sdate_str.replace("일","");

      var sdateArray = sdate_str.split(" ");
      var sdateObj = new Date(sdateArray[0], Number(sdateArray[1])-1, sdateArray[2]);

      //끝 날짜
      var edate_str = document.getElementById("h_edate").innerText;
      edate_str = edate_str.replace("년","");
      edate_str = edate_str.replace("월","");
      edate_str = edate_str.replace("일","");

      var edateArray = edate_str.split(" ");
      var edateObj = new Date(edateArray[0], Number(edateArray[1])-1, edateArray[2]);

      //시작 끝 날짜 계산
      var betweenDay = (edateObj.getTime() - sdateObj.getTime()) / 1000 / 60 / 60 / 24;

      //박 수 일 수를 히든으로
      document.getElementById("baksu").innerText = betweenDay ;
      document.getElementById("ilsu").innerText = betweenDay + 1;

      // 양식에 표시
      // h_caldate.innerText = "( "+ (betweenDay)+" 박 "+ (betweenDay + 1) + " 일 )";
      var gb_check = document.getElementById("gb1").innerText;

      if(gb_check == "2" || gb_check == "7"){
        h_caldate.innerText = "( "+ ((betweenDay + 1)/2) + " 일 )";
      }else{

        h_caldate.innerText = "( "+ (betweenDay + 1) + " 일 )";
      }
      //일자 기준 소계 계산
      title_make();
    }

    function title_make(){
      var t1 = document.getElementById("gb1").innerText;
      var t2 = document.getElementById("username").innerText;

      var s1 = document.getElementById("h_sdate").innerText;
      var s2 = s1.substring(6,8);
      var s3 = s1.substring(10,12);

      var s4 = s2+"/"+s3;

      var e1 = document.getElementById("h_edate").innerText;
      var e2 = e1.substring(6,8);
      var e3 = e1.substring(10,12);

      var e4 = e2+"/"+e3;

      var t3 = s4+"~"+e4;
      if(s4 == e4) t3 = s4;

      var t4 = document.getElementById("h_caldate").innerText;

      if(t1 == "1") t1 = "연차";
      if(t1 == "2") t1 = "월차";
      if(t1 == "3") t1 = "반차";
      if(t1 == "4") t1 = "특별휴가";
      eval("title1").innerText = "휴가신청서 [ " + t2+" _ "+t1+" _ "+t3+" _ "+t4+" ]";
    }

    function toggleCheckbox(checkboxId) {
      var checkbox = document.getElementById(checkboxId);
      var label = document.querySelector('label[for="' + checkboxId + '"]');

      if (checkbox.checked) {
        label.style.fontWeight = 'bold'; // 체크 시 굵은 글씨로 스타일 변경
        // 다른 스타일 변경을 원하는 경우 여기에 추가
      } else {
        label.style.fontWeight = 'normal'; // 체크 해제 시 기본 글꼴로 스타일 변경
        // 다른 스타일 변경을 원하는 경우 여기에 추가
      }
    }

  </script>



  <script id="nopspro">
    <rootnode>
      <setvalue>
        <결재의견>opp</결재의견>
        <사원명>username</사원명>
        <직위>pp</직위>
        <사원ID>user_id</사원ID>
        <부서명>partname</부서명>
        <년월일2>to_date</년월일2>
        <문서제목>title1;</문서제목>
        <형식일시>YYYY년 MM월 DD일;to_date;</형식일시>
        <문서번호>docno</문서번호>
      </setvalue>
      <command>
        <voice_rec>n</voice_rec>
        <gps_on>y</gps_on>
        <display_on_edit>hidetable</display_on_edit>
        <hide_on_print>hidetable</hide_on_print>
        <양식명제외></양식명제외>
      </command>
    </rootnode>
  </script>


</HEAD>
<BODY onLoad='FixMenu(document, document.all.tools)' onScroll="FixMenu(document, document.all.tools)" onResize="FixMenu(document, document.all.tools)"nn>

<table width="644" border="0"  cellspacing="0" cellpadding="0" bordercolor="#ffffff" style="border-collapse:collapse;" class="form2" align="center" >
  <tr>
    <td align="right"  >&nbsp;</td>
  </tr>
</table>
<table width="644" border="0"  cellspacing="0" cellpadding="0" bordercolor="#ffffff" style="border-collapse:collapse;" class="form10" align="center" >
  <tr  valign="middle" bgcolor="white">
    <td width="643"   height="9" align="center" class="form16b">
      <div id="title" style="font-size: 18pt">휴가 신청서</div>
      <div  id="baksu" style="display:none;"></div>
      <div  id="ilsu" style="display:none;"></div>
      <div  id="gb1" style="display:none;">1</div></td>
    <td width="1" align="center" class="form16b" id="tms_auto_sign"></td>
  </tr>
</table>
<table width="644" border="1"  cellspacing="0" cellpadding="0" bordercolor="#000000" style="border-collapse:collapse;" align="center" class="form10">

  <tr>
    <td width="80" height="70" align="center" bgcolor="#C8C9C7"  class="form10b">소   속</td>
    <td colspan="3" align="left"  class="form10" ><div tms_edit id="jic2" style="padding:3px"></div></td>
  </tr>
  <tr>
    <td width="80" height="70" align="center" bgcolor="#C8C9C7"  class="form10b">성   명</td>
    <td colspan="3" align="left"  class="form10" ><div tms_edit id="jic3" style="padding:3px"></div></td>
  </tr>
  <tr>
    <td width="80" height="70" align="center" bgcolor="#C8C9C7"  class="form10b">직   위</td>
    <td colspan="3" align="left"  class="form10" ><div tms_edit id="jic4" style="padding:3px"></div></td>
  </tr>
  <tr>
    <td width="80" height="70" align="center" bgcolor="#C8C9C7"  class="form10b">휴가 종류<br></td>
    <td colspan="3" align="left"  class="form10">
      <table width="100%" border="0"  class="form10">
        <tr>
          <td height="40" rowspan="2" align="center">
            <input type="checkbox" id="chk_aa1" onclick="toggleCheckbox('chk_aa1')"> <!-- 체크박스 버튼 추가 -->
            <label for="chk_aa1" id="aa1">연차</label> <!-- "연차" 레이블을 체크박스와 연결 -->
          </td>
          <td rowspan="2" align="center">
            <input type="checkbox" id="chk_aa2" onclick="toggleCheckbox('chk_aa2')"> <!-- 체크박스 버튼 추가 -->
            <label for="chk_aa2" id="aa2">월차</label> <!-- "월차" 레이블을 체크박스와 연결 -->
          </td>
          <td rowspan="2" align="center">
            <input type="checkbox" id="chk_aa3" onclick="toggleCheckbox('chk_aa3')"> <!-- 체크박스 버튼 추가 -->
            <label for="chk_aa3" id="aa3">반차</label> <!-- "반차" 레이블을 체크박스와 연결 -->
          </td>
          <td rowspan="2" align="center">
            <input type="checkbox" id="chk_aa4" onclick="toggleCheckbox('chk_aa4')"> <!-- 체크박스 버튼 추가 -->
            <label for="chk_aa4" id="aa4">특별휴가(경조사/예비군)</label> <!-- "특별휴가" 레이블을 체크박스와 연결 -->
          </td>
        </tr>
      </table></td>
  <tr>
  <td width="80" height="70" align="center" bgcolor="#C8C9C7"  class="form10b">휴가 사유<br></td>
    <td colspan="3" align="left" valign="top" class="form10" onClick="javascript:as2.focus();"><DIV  tms_edit id="as2" style="padding:3px;"><DIV></td>
  </tr>
    <td width="80" height="70" align="center" bgcolor="#C8C9C7"  class="form10b">휴가 기간</td>
    <td colspan="3" align="center"  class="form10" onClick="javascript:as2.focus();">
      <table width="100%" border="0" align="center" cellpadding="0"  cellspacing="0" bordercolor="#ffffff" class="form2" style="border-collapse:collapse;">
      <tr>
        <td width="33%" align="left" class="form2"><div  id="h_sdate" onClick="calendar(this, 'todate1')"  style="padding:3px;cursor:hand;">  년  월  일 부터</div></td><tr>
        <td width="33%" align="left" class="form2"><div  id="h_edate" onClick="calendar(this, 'todate1')"  style="padding:3px;cursor:hand;">  년  월  일 까지 (   일간)</div></td>
      </tr>
    </table></td>
  </tr>

  <tr>
    <td width="80" height="70" align="center" bgcolor="#C8C9C7" class="form10b">비상연락처</td>
    <td colspan="3" align="left" class="form10">
      <table width="100%" border="0" class="form10">
        <tr>
          <td height="40" rowspan="2" align="center">
            <table width="100%" border="0" class="form10">
              <tr>
                <td height="40" rowspan="2" align="center">
                  <div class="jic5" style="padding:3px">(작성자와의 관계)</div>
                </td>
                <td height="40" rowspan="2" align="center">
                  <div class="jic6" style="padding:3px">(성함)</div>
                </td>
                <td height="40" rowspan="2" align="center">
                  <div class="jic6" style="padding:3px">(연락처)</div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>

  <tr>
    <td colspan="3" align="center" class="form10" ><div tms_edit id="jic6" style="padding:3px"><br>
      <br>
      <br>
      <br>
      <br>
        <br>위와 같이 휴가를 신청하오니 허가하여 주시기 바랍니다.<br>
    <br>
    <br>
    <br>
    <br>
    20    년  월  일  <br>
      <br>
      <br>
    소속  :             <br>
      <br>
    성명  :          (인)<br></div></td>
    <br>
    <br>
    <br>
    </td>
  </tr>

  <tr>
    <td colspan="3" align="left" class="form10" onClick="javascript:as2.focus();">
        <ul>※휴가 신청서 작성 시 의무사항<br></b>
          <li>연차는 1년 15일 원칙 (단, 1년 미만 근로자 혹은 1년간 80% 미만 근무자는 1개월 개근 시 1일 휴가 부여)</li><br>
          <li>휴가신청 시 업무 인수인계에 지장이 없도록 하며 사유 및 비상연락처를 상세히 기록해야함.</li><br>
        </ul>
    </td>
  </tr>

</table>
<table width="700" border="0"  cellspacing="0" cellpadding="0" bordercolor="#ffffff" style="border-collapse:collapse;" class="form16" align="center" >
  <tr>
    <td></td>
  </tr>
</table>
</BODY>
</HTML>
